* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    height: 87px;
    padding: 0 20px;
}
nav img.logoicon {
    height: 70px;
    margin-left: 5%;
}
nav img.searchicon {
    height: 24px;
    margin-right: 3%;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
nav ul li {
    color: #FFFFFF;
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    padding: 14px;
}
nav ul li[opacity="0"] {
    opacity: 0;
}
.sec1 {
    background-image: url(1.png);
    height: 590px;
    background-size: cover;
    background-position: center;
    display: flex;
}
.part1 {
    z-index: 1;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.part1 h1 {
    margin-top: 20%;
    font-size: 110px;
    color: white;
    margin-bottom: 15px;
    font-weight: normal;
    font-family: "Oswald", sans-serif;
}
.part1 span {
    font-size: 24px;
    width: 45%;
    color: white;
    margin-bottom: 15px;
}
.part1 button {
    background-color: #e8631c;
    color: white;
    border: none;
    width: 260px;
    padding: 10px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
}
.sec2 {
    background-color: #e8631c;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part2 {
    z-index: 1;
    align-items: center;
}
.columnflex {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.part2 h1 {
    margin-top: 0%;
    font-size: 60px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}
.part2 span {
    font-size: 24px;
    width: 55%;
    color: white;
    margin-bottom: 15px;
}
.imgdiv {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}
.imgdiv img {
    height: 320px;
    width: 280px;
}
.boxdiv {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}
.boxdiv box {
    background-color: #303030;
    height: 120px;
    width: 280px;
    justify-content: center;
}
.boxdiv box h3 {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 30px;     
    font-weight: normal;
    margin-left: 50px;    
    margin-top: 10px;   
}
.boxdiv box span{
    color: white;
    margin-left: 14px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: lighter;  
}
.sec3 {
    background-color: #303030;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part3 {
    z-index: 1;
    align-items: center;
}
.part3 h1 {
    margin-top: 0%;
    font-size: 60px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}
.part3 span {
    font-size: 24px;
    width: 55%;
    color: white;
    margin-bottom: 15px;
}
.secdiv {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}
.secdiv box {
    height: 400px;
    width: 280px;
    background-color: #e8631c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.secdiv box img {
    margin-top: 20px;
}
.secdiv box h3 {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 30px;     
    font-weight: bold;
       
    margin-top: 10px;   
}
.secdiv box span{
    color: white;
    width: 200px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: lighter;  
}
.secdiv box button{
    background-color: #303030;
    color: white;
    border: none;
    width: 260px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    border-radius: 3px;
}
.lrdiv {
    height: 700px;
    display: flex;
}
.leftdiv {
    width: 50%;
    background-image: url(3.png);
    background-size: cover;
    background-position: center;
}
.rightsec2 {
    width: 50%;
    background-image: url(4.png);
    background-size: cover;
    background-position: center;
}
.rightdiv {
    width: 50%;
    background-color: #e8631c;
}
.rpart {
    z-index: 1;
    margin-left: 15%;

}
.rpart h1 {
    margin-top: 60%;
    font-size: 60px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}
.rpart span {
    font-size: 24px;
    width: 20%;
    color: white;
}
.rpart button {
    background-color: #303030;
    color: white;
    border: none;
    width: 260px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    border-radius: 3px; 
}
.sec4 {
    background-color: #303030;
    width: 100%;
    height: 700px;
}
.content4a {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content4a h2{
    font-size: 65px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 11%;
    
}
.content4a span {
    font-size: 24px;
    letter-spacing: 1px;
    color: white;
    font-weight: 300;
}
.content4b {
    display: flex;
    flex-direction: row;
}
.content4b div{
    width: 33%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content4b div h1 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 60px;
}
.content4b div span {
    font-size: 30px;
    color: white;
}
.sec5 {
    position: relative;
    background-image: url(4.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 850px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(219, 81, 12, 0.493);
}
.part5 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 15%;
}
.part5 h2 {
    z-index: 1;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
}
.part5 span {
    z-index: 1;
    color: white;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 87%;
    align-items: center;
}
.sec6 {
    background-color: #e8631c;
    width: 100%;
    height: 490px;
}
.part6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.part6 h2 {
    color: white;
    font-size: 60px;
    font-family: "Oswald", sans-serif;
}
.part6 span {
    color: white;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 17.5%;
    width: 65%;
}
.part6 input{
    background-color: white;
    border-radius: 3px 0 0 3px;
    height: 55px;
    margin-top: 5%;
    border: none;
    padding-left: 20px;
    width: 500px;
}
.part6 button {
    background-color: #303030;
    border-radius: 0 3px 3px 0;
    color: white;
    height: 55px;
    border: none;
    width: 170px;
}
.end {
    width: 100%;
}
.sec7 {
    background-color: #303030;
    width: 100%;
    height: 420px;
}
.part7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.part7 div {
    margin-left: 0;
    color: white;
    padding: 43px;
}
.part7 div h2 {
    font-size: 34px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
}
.part7 div span {
    word-wrap: break-word;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 5px;
}
